JSON workflow
  {
  "nodes": [
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "path": "/home/soukaynaham/Videos/test",
        "binaryPropertyName": "data"
      },
      "id": "ReadVideo",
      "name": "Read Video",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [450, 250]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "My Playlist Test",
        "privacyStatus": "private"
      },
      "id": "CreatePlaylist",
      "name": "Create Playlist",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [650, 100],
      "credentials": {
        "youtubeOAuth2Api": "Your Google OAuth Credentials"
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "binaryPropertyName": "data",
        "title": "={{$binary.data.fileName}}",
        "description": "Uploaded via n8n",
        "privacyStatus": "private"
      },
      "id": "UploadVideo",
      "name": "Upload Video",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [850, 250],
      "credentials": {
        "youtubeOAuth2Api": "Your Google OAuth Credentials"
      }
    },
    {
      "parameters": {
        "operation": "add",
        "playlistId": "={{$node['Create Playlist'].json.id}}",
        "videoId": "={{$json.id}}"
      },
      "id": "AddToPlaylist",
      "name": "Add to Playlist",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1050, 250],
      "credentials": {
        "youtubeOAuth2Api": "Your Google OAuth Credentials"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video": {
      "main": [
        [
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
